Repository k1llah/socialnet: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint --fix

test
  package.json
Due: none

tested commit
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pages/index.vue
Due: prettier --write, eslint, stylelint --fix

test commit4
  .husky/pre-commit
  package.json
  pages/index.vue
Due: prettier --write, eslint, stylelint --fix

tested commit5
  pages/index.vue
Due: prettier --write, eslint, stylelint --fix

refactor: prettify eslint config
  eslint.config.mjs
Due: none

fix: lint-staged glob patterns
  package.json
Due: none

test: lint-staged functionality test
  pages/index.vue
Due: prettier --write, eslint, stylelint --fix

-r preinstall in package json
  package.json
Due: none

test husky and lint-stages work
  pages/index.vue
Due: prettier --write, eslint, stylelint --fix

edit config the eslint and prettier
  eslint.config.mjs
  pages/index.vue
  widgets/socialWelcome.vue
Due: prettier --write, eslint, stylelint --fix

install vue phone lib and process setup css
  assets/css/tailwind.css
  eslint.config.mjs
  package-lock.json
  package.json
  plugins/phoneInputPlugin.ts
  widgets/socialWelcome.vue
Due: prettier --write, eslint, stylelint --fix

create sign up layout
  assets/css/tailwind.css
  eslint.config.mjs
  package-lock.json
  package.json
  pages/signUp.vue
  plugins/phoneInputPlugin.ts
  public/qr.svg
  tailwind.config.js
  widgets/SignUpWidget.vue
  widgets/mainForm.vue
  widgets/socialWelcome.vue
Due: prettier --write, eslint, stylelint --fix

some fixes
  assets/css/tailwind.css
  widgets/SignUpWidget.vue
Due: prettier --write, eslint, stylelint --fix

change input in sign up, remove vue tel lib from package
  eslint.config.mjs
  package-lock.json
  package.json
  shared/TheInput.vue
  widgets/SignUpWidget.vue
Due: prettier --write, eslint, stylelint --fix

complete sign up page, start verify part
  components/Shadcn/pin-input/PinInput.vue
  components/Shadcn/pin-input/PinInputGroup.vue
  components/Shadcn/pin-input/PinInputInput.vue
  components/Shadcn/pin-input/PinInputSeparator.vue
  components/Shadcn/pin-input/index.ts
  features/signUpFeature.vue
  middleware/loginMiddleware.ts
  pages/test2.vue
  stores/auth.ts
  widgets/SignUpWidget.vue
  widgets/VerifyEmail.vue
Due: prettier --write, eslint, stylelint --fix

confirm part email
  stores/auth.ts
  widgets/VerifyEmail.vue
Due: prettier --write, eslint, stylelint --fix

timeout from server back
  stores/auth.ts
  widgets/VerifyEmail.vue
Due: prettier --write, eslint, stylelint --fix

timer added and some logic about auth
  app.vue
  features/TimeoutButton.vue
  features/signUpFeature.vue
  nuxt.config.ts
  stores/auth.ts
  widgets/VerifyEmail.vue
  widgets/mainForm.vue
  widgets/socialWelcome.vue
Due: prettier --write, eslint, stylelint --fix

continue setting up login and sign up parts - adding animation between pages - create logic for sign up
  app.vue
  features/signUpFeature.vue
  nuxt.config.ts
  pages/signUp.vue
  pages/test2.vue
Due: prettier --write, eslint, stylelint --fix

work changes about auth part
  features/signUpFeature.vue
  middleware/authMiddleware.ts
  middleware/loginMiddleware.ts
  stores/auth.ts
  widgets/VerifyEmail.vue
Due: prettier --write, eslint, stylelint --fix

not fixed issue with middleware
  features/TimeoutButton.vue
  middleware/authMiddleware.ts
  pages/test2.vue
  stores/auth.ts
Due: prettier --write, eslint, stylelint --fix

idk
  middleware/authMiddleware.ts
Due: prettier --write, eslint

update
  .husky/pre-commit
  nuxt.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

add layers directory
  layers/shared/TheInput.vue
  layers/shared/TheSkeletonPost.vue
  layers/shared/TheSkeletonStories.vue
Due: prettier --write, eslint, stylelint --fix

remove layers dir
  shared/TheInput.vue
  shared/TheSkeletonPost.vue
  shared/TheSkeletonStories.vue
Due: prettier --write, eslint, stylelint --fix

Path conditions:
  prettier --write: ((((any of: *.ts) or (any of: *.vue)) or (any of: *.html)) or (any of: *.scss)) or (any of: *.css)
  eslint: ((any of: *.ts) or (any of: *.vue)) or (any of: *.html)
  stylelint --fix: ((any of: *.vue) or (any of: *.html)) or (any of: *.css)
